@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100%;
  color: #cccccc;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#logo-container {
  height: 1.5vh;
}

#header-logo {
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-main {
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1em;
}

#home-main a {
  color: aliceblue;
  font-size: 1.3em;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* -------------------- Hero video Styling */

video {
  object-fit: cover; 
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* -------------------- band listing page */

#band-listing-header {
  height: 10vh;
  background-color: black;
}

#band-grid {
  height: 90vh;
  position: static;
  /* background-color: #D6D6D6; */
  background-color: rgb(31, 31, 31);
}

/* -------------------- Footer styling */

#footer {
  background-color: #292929;
  color: aliceblue;
}

#footer a {
  color: aliceblue;
}

.social_square_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_square_icons ul li:first-child {
  margin-left: 0px
}

.social-square-icons ul li a {
  float: left;
  line-height: 40px;
  color: #414141;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #dadadaa8;
}

/* add gap between social icons */
.gap {
  margin-right: 5px
}

.social_icons_rounded ul li a i {
  font-size: 16px
}

/* ------------------- Hover styling for social icons */
.f_facebook:hover {
  color: #fff;
  background: #2a66b3;
  border: 1px solid #2a66b3
}

.t_twitter:hover {
  color: #fff;
  background: #35bbec;
  border: 1px solid #35bbec
}

.pinterest:hover {
  color: #fff;
  background: #cb2027;
  border: 1px solid #cb2027
}

.linkedin:hover {
  color: #fff;
  background: #007bb5;
  border: 1px solid #007bb5
}

.g_google:hover {
  color: #fff;
  background: #e55644;
  border: 1px solid #e55644
}

.dribbble:hover {
  color: #fff;
  background: #ea4c89;
  border: 1px solid #ea4c89
}

.skype:hover {
  color: #fff;
  background: #01aaf8;
  border: 1px solid #01aaf8
}

.flickr:hover {
  color: #fff;
  background: #ff0084;
  border: 1px solid #ff0084
}
