@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  max-width: 100%;
  color: #cccccc;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-weight: var(--heading-font-weight);
} */
/* h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'ITC Caslon_224';
  font-weight: 50;
  line-height: 1.2;
} */

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#logo-container {
  height: 1.5vh;
}

#header-logo {
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-main {
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1em;
}

#home-main a {
  color: aliceblue;
  font-size: 1.3em;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#dark-background {
  /* height: 90vh; */
  /* position: static; */
  /* background-color: #D6D6D6; */
  background-color: rgb(31, 31, 31);
}

/* -------------------- Hero video Styling */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* -------------------- band listing page */

#band-listing-header {
  height: 10vh;
  background-color: black;
  font-size: 1.3em;
}

.band-box {
  background-color: #e2e2e231;
}

.genre-title {
  letter-spacing: 0.2em;
  font-size: 0.7em;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.band-title {
  margin-top: 0.5em;
  font-size: 2rem;
}

.one-liner {
  letter-spacing: 0.215em;
  line-height: 2;
  font-size: 0.76rem;
  text-transform: uppercase;
}

.band-listing-image {
  width: 100%;
  height: 400px;
}

.img-crop {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.genre-tags {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  background-color: rgba(16, 16, 16, 0.6);
}

.hover-genre {
  border-color: grey;
  /* background-color: rgba(16, 16, 16, 0.6); */
}

.genre-text {
  text-decoration: none;
  letter-spacing: 0.15em;
  border-color: grey;
  text-transform: uppercase;
  padding: 1.1em;
  display: inline-block;
}

/*  ------------------- Band Page */

.band-title {
  transform: translateY(50%);
  font-weight: 800;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  background-color: rgba(16, 16, 16, 0.3);

}

.band-fullsize-box {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.band-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* -------------------- Footer styling */

#footer {
  opacity: 1;
  background-color: rgba(16, 16, 16, 0.6);
  color: aliceblue;
}

#footer a {
  color: aliceblue;
}

.social_square_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_square_icons ul li:first-child {
  margin-left: 0px;
}

.social-square-icons ul li a {
  float: left;
  line-height: 40px;
  color: #414141;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #dadadaa8;
}

/* add gap between social icons */
.gap {
  margin-right: 5px;
}

.social_icons_rounded ul li a i {
  font-size: 16px;
}

/* ------------------- Hover styling for social icons */
.f_facebook:hover {
  color: #fff;
  background: #2a66b3;
  border: 1px solid #2a66b3;
}

.t_twitter:hover {
  color: #fff;
  background: #35bbec;
  border: 1px solid #35bbec;
}

.pinterest:hover {
  color: #fff;
  background: #cb2027;
  border: 1px solid #cb2027;
}

.linkedin:hover {
  color: #fff;
  background: #007bb5;
  border: 1px solid #007bb5;
}

.g_google:hover {
  color: #fff;
  background: #e55644;
  border: 1px solid #e55644;
}

.dribbble:hover {
  color: #fff;
  background: #ea4c89;
  border: 1px solid #ea4c89;
}

.skype:hover {
  color: #fff;
  background: #01aaf8;
  border: 1px solid #01aaf8;
}

.flickr:hover {
  color: #fff;
  background: #ff0084;
  border: 1px solid #ff0084;
}
